shell = "zsh -c '{}'"
default-scheme = "base16-seti"
hooks = ["tmux set-option -g @tinted-color \"base16-$TINTY_SCHEME_SLUG\" 2> /dev/null; tmux source-file ~/.tmux.conf 2> /dev/null"]

[[items]]
path = "https://github.com/tinted-theming/tinted-terminal"
name = "tinted-terminal"
themes-dir = "themes/ghostty"
hook = "command cp -f %f ~/.config/ghostty/themes/tinted-theming && killall -SIGUSR2 ghostty"
supported-systems = ["base16", "base24"]

[[items]]
name = "tinted-fzf"
path = "https://github.com/tinted-theming/tinted-fzf"
supported-systems = ["base16", "base24"]
hook = ". %f"
themes-dir = "sh"
