shell = "zsh -c '{}'"
default-scheme = "base16-seti"
hooks = ["tmux set-option -g @tinted-color \"base16-$TINTY_SCHEME_SLUG\" 2> /dev/null; tmux source-file ~/.tmux.conf 2> /dev/null"]

[[items]]
name = "tinted-shell"
path = "https://github.com/tinted-theming/tinted-shell"
hook = ". %f"
supported-systems = ["base16", "base24"]
themes-dir = "scripts"

[[items]]
name = "tinted-fzf"
path = "https://github.com/tinted-theming/tinted-fzf"
supported-systems = ["base16", "base24"]
hook = ". %f"
themes-dir = "sh"
