*.pyc
*.swp
.DS_Store
Session.vim
settings_local.py
env_*
.netrwhist
tags
tags.temp
tags.lock
!tags/
.tags
node_modules
.ropeproject
__pycache__
.pytest_cache
.notags
.vscode
.idea
config/definitions.rb
.solargraph.yml
.vim
.rake_tasks
Procfile.local
