*.pyc
*.swp
.DS_Store
Session.vim
settings_local.py
env_*
.netrwhist
tags
tags.temp
tags.lock
.tags
public/javascripts/dist/*
node_modules
.ropeproject
__pycache__
.pytest_cache
.notags
.vscode
.idea
config/definitions.rb
.solargraph.yml
scratchpad.*
.vim
.rake_tasks
